$tp-card-bg: #272822;
$tp-card-opacity: 0.85;
$app-font: 'Consolas';

// $heading-font-family: 'consolas'!important;
// $body-font-family: 'consolas';

// @import "~vuetify/src/styles/styles.sass";
// @import "~vuetify/src/styles/main.sass";
